<!-- <b>{{jsonval | json}}</b>
<h1>percent pipe</h1>
<b>{{00.54565 | percent}}</b>
<h1>slice pipe</h1>
<b>{{months | slice:2:6}}</b> -->
<!-- <a routerLink="home">Home component</a> &nbsp; -->
<!-- <a routerLink="home/23">Home component</a>&nbsp; -->
<!-- <a routerLink="blog">Blog component</a>&nbsp;
<a routerLink="about">About component</a> -->







<!-- 
<div *ngFor="let id of ids">
Id is{{id}}
<div *ngIf="id%2==0">
    <div [ngClass]="'one'">even</div>
</div>
<div *ngIf="id%2==1">
    <div [ngClass]="'two'">odd</div>
</div>
</div> -->

<!-- <app-posts></app-posts> -->
<app-employeedetails></app-employeedetails>
<router-outlet></router-outlet>